@page "/event/{EventId}"
@using Afk4Events.Models.Events
@using Afk4Events.WebClient.Shared.Events
@using Afk4Events.WebClient.Shared.Calendar
@using Afk4Events.WebClient.ViewModels
@using Microsoft.AspNetCore.Components

@inherits EventViewModel


<div class="row m-0">
  <EventTitle Title=@SelectedEvent.Name ImageURL=@SelectedEvent.ImageURL />
</div>
<div class="container px-4 py-2">
  <div class="row">
    <div class="col-lg">
        <h2>Description</h2>
        <p>@SelectedEvent.Description</p>
        <h2>Date</h2>
        <p>Some date?</p>
    </div>
    <div class="col-lg">
      <h2>Availability</h2>
      <EventCalendar InitialDate=@DateTime.Now/>
    </div>
  </div>
</div>
