@page "/event/{EventId}"
@using Afk4Events.Models.Events
@using Afk4Events.WebClient.Shared.Events
@using Afk4Events.WebClient.Shared.Calendar


<div class="row m-0">
  <EventTitle Title=@SelectedEvent.Name />
</div>
<div class="container px-4 py-2">
  <div class="row">
    <div class="col-lg">
        <h2>Description</h2>
        <p>@SelectedEvent.Description</p>
        <h2>Date</h2>
        <p>Some date?</p>
    </div>
    <div class="col-lg">
      <h2>Availability</h2>
      <EventCalendar InitialDate=@DateTime.Now/>
    </div>
  </div>
</div>

@functions {
  [Parameter]
  public string EventId {get; set;}

  public EventDto SelectedEvent;

List<EventDto> Events = new List<EventDto>()
    {
      new EventDto() {
        Name = "Lord Of The Weeb III",
        ThemeName = "dank",
        Location = "My Location",
        GroupId = new Guid(),
        Description = "Lets go watch Lord of the Rings again."
      },
      new EventDto() {
        Name = "Willems TestEvent",
        ThemeName = "dank",
        Location = "Location II",
        GroupId = new Guid(),
        Description = "BBQ @ Nick's place"
      },
      new EventDto() {
        Name = "Hello World",
        ThemeName = "dank",
        Location = "Location III",
        GroupId = new Guid(),
        Description = "Goodbye world"
      },
    };

    protected override void OnInit()
    {
      if(EventId == "1") {
        SelectedEvent = Events[0];
      } else if(EventId == "2") {
        SelectedEvent = Events[1];
      } else if(EventId == "3") {
        SelectedEvent = Events[2];
      }
    }
}