@page "/login"
@using Afk4Events.WebClient.ViewModels
@using Microsoft.AspNetCore.Components
@inherits LoginViewModel


<div class="login-container">
    <div class="d-flex justify-content-center h-100">
        <div class="login-card">
            <div class="card-header login-card-header">
                <h3>Login</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-lg" onclick="@StartAuthentication">Login</button>
                @if (User != default)
                {

                    <table class="table" style="background-color: white">
                        <tr>
                            <th>Name</th>
                            <td>@User.Name</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@User.Email</td>
                        </tr>
                    </table>
                    <img src="@User.ProfilePictureUrl"/>
                }
            </div>
        </div>
    </div>
</div>
