@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("./elements/eventcalendar.css");



.afk4events-main-menu-toggle {
  position: fixed;
  z-index: 1000;
}

.afk4events-event-title-header {
  width: 100%;
}

.afk4events-event-title-box {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #261744;
  background-image: linear-gradient(90deg, #261744 0%, #553498 200%);
  padding: 5px;
  margin-top: 15px;
  margin-left: 15px;
}

.afk4events-event-title-box #title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  font-family: 'Roboto Slab';
  color: #eee;
  width: 100%;
}

.afk4events-event-title-box #meta {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
font-family: 'Roboto Slab';
color: #eee;
}

.afk4events-event-title-box > #meta > #owner, #date, #eta {
font-family: 'Roboto';
font-size: calc(12px + 1.5vmin);
margin: 5px;
}

.afk4events-event-title-header {
  background-image: url('https://docs.microsoft.com/en-us/windows/desktop/uxguide/images/mess-error-image4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 325px;
}

.afk4events-event-date-box {
display: inline-grid;
background: linear-gradient(-90deg, #43cea2 0%, #185a9d 100%);
background-size: cover;
background-repeat: no-repeat;
height: 80px;
width: 100%;
border-radius: 3px;
grid-template-columns: 70px auto;
grid-template-rows: auto;
margin: 20px;
}

.afk4events-event-date-box > #date {
display: inline-block;
background: linear-gradient(0deg, #DAD299 0%, #B0DAB9 100%);
width: 70px;
height: 100%;
text-align: center;
font-family: 'Zilla Slab Highlight', sans-serif;
font-size: 2em;
grid-column-start: 1;
grid-column-end: 1;
font-weight: black;
color: #222;
}

.afk4events-event-date-box-info {
grid-column-start: 2;
grid-column-end: 2;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto 40px;
}

.afk4events-event-date-box-text {
margin: 10px;
}

.afk4events-event-date-box-buttons {
grid-row-start: 2;
margin: 0 !important;
}

.afk4events-event-date-box-buttons button {
  color: white !important;
}

/* Smallest Devices, (phones, < 768 px) */
@media (min-width: 0) { 
  .afk4events-event-title-box > #title {
    font-size: 1.5em
  }

  .afk4events-event-title-box > #meta > #owner, #date, #eta {
    font-size: 0.85em;
  }
 }

/* Small devices (tablets, 768px and up) */
 @media (min-width: 768px) {
  .afk4events-event-title-box > #title {
    font-size: 2.5em;
  }
  .afk4events-event-title-box > #meta > #owner, #date, #eta {
    font-size: 1em;
  }
 }

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .afk4events-event-title-box > #title {
    font-size: 3em;
  }

  .afk4events-event-title-box > #meta > #owner, #date, #eta {
    font-size: 1.25em;
  }
}