@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('./views/event.css');
@import url("./elements/eventcalendar.css");

body {
	margin-top: 80.3333px;
}

.afk4events-main-menu-toggle {
  position: fixed;
  z-index: 1000;
}

.afk4events-navbar {
	background-color: white;
	z-index: 1000;
}

.afk4events-navbar-toggle {
	border: 0;
}

.afk4events-navbar {
	min-height: 80.33px;
	transition: top 0.3s, box-shadow 0.3s;
}
