@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('./views/event.css');
@import url("./elements/eventcalendar.css");

body {
  margin-top: 50px;
}

.afk4events-main-menu-toggle {
  position: fixed;
  z-index: 1000;
}

