.afk4events-calendar {
  display: grid;
  grid-template-rows: min-content min-content;
  width: 100%;
  max-width: 300px;
  height: 350px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 29px -13px rgba(0,0,0,0.70);
  -moz-box-shadow: 0px 0px 29px -13px rgba(0,0,0,0.70);
  box-shadow: 0px 0px 29px -13px rgba(0,0,0,0.70);
  margin: 20px auto;
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #8360c3, #2ebf91); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8360c3, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  }

.afk4events-calendar-header {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content min-content;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.afk4events-calendar-header-left {
  grid-row: 1;
  grid-column: 1;
  text-align: left;
  color:#fff;
}

.afk4events-calendar-header-text {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  font-size: 1.5em;
}

.afk4events-calendar-header-right {
  grid-row: 1;
  grid-column: 3;
  text-align: right;
  color:#fff;
}

.afk4events-calendar-header-year {
  grid-column-start: 2;
  grid-row: 2;
  text-align: center;
}

.afk4events-calendar-ruler {
  border-top: 1px solid rgba(255,255,255,0.4);
  width: 80%;
}

.afk4events-calendar-main {
  margin: 0 auto;
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

.afk4events-calendar-main-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}