@inherits Afk4Events.WebClient.ViewModels.Components.EventTitle.EventTitleViewModel

<div class="afk4events-event-title-header" style="background-image: url('@ImageURL');">
  <div class="afk4events-event-title-box">
    <div class="afk4events-event-title-box-blurred-background" style="background-image: url('@ImageURL')"></div>
    <h1 id="title">@Title</h1>
    <div id="meta">
      <span id="owner"><i class="fas fa-chalkboard-teacher fa-xs"></i> Nick</span>
      <span id="date"><i class="far fa-calendar-check fa-xs"></i> @PickedDate</span>
      <span id="eta"><i class="far fa-clock fa-xs"></i> @TimeRemaining</span>
    </div>
  </div>
</div>
