@using Microsoft.AspNetCore.Components

<div class="afk4events-event-date-box">
  <div id="date">
  May<br>10
  </div>
    <div class="afk4events-event-date-box-info">
    <div class="afk4events-event-date-box-text" role="group">
    <H1>
    Hello World
    </H1>
    Subtext
    </div>
    <div class="btn-group afk4events-event-date-box-buttons" role="group">
      <MatButton Unelevated="true">Accept</MatButton>
      <MatButton Unelevated="true">Tentative</MatButton>
      <MatButton Unelevated="true">Decline</MatButton>
    </div>
    </div>
</div>