  <div class="afk4events-event-title-header">
    <div class="afk4events-event-title-box">
      <h1 id="title">@Title</h1>
      <div id="meta">
      <span id="owner"><i class="fas fa-chalkboard-teacher fa-xs"></i> Nick</span>
      <span id="date"><i class="far fa-calendar-check fa-xs"></i> @PickedDate</span>
      <span id="eta"><i class="far fa-clock fa-xs"></i> @TimeRemaining</span>
      </div>
    </div>
  </div>

@functions {
  [Parameter]
  string Title {get; set;}

  string PickedDate {get; set;} = "14-06-2019";
  string TimeRemaining {get;set;} = "16 hours";
}